@model IEnumerable<Model.Laboratorio>

<select class="form-control" id="IdLaboratorio" name="IdLaboratorio">
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.Nombre</option>
    }
</select>  